{
  "extends": [
    "airbnb-base",
    "airbnb-flow",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["router", "error"]
    }],
    "no-plusplus": "off"
  }
}
